@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(255 255 255);
}

@layer base {
  [data-theme="default"] {
    --color-base: 255 255 255; /* White */
    --color-primary400: 143 226 174; /* Light Green */
    --color-primary500: 34 197 94; /* Green */
    --color-secondary400: 130 218 233; /* Light Cyan */
    --color-secondary500: 6 182 212; /* Cyan */
  }

  [data-theme="alternate"] {
    --color-base: 0 0 0;
    --color-primary500: 239 68 68; /* Red */
    --color-secondary500: 168 85 247; /* Purple */
  }
}
